.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 0 auto;
}

.form-field {
  flex-basis: 100%;
  margin-top: 30px;
  padding: 0 $gap-half;
}

.form-field-half {
  flex-basis: 50%;
}

.form-label {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.form-input,
.form-text {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  font-family: inherit;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border-radius: 8px;
  border: none;
}

.form-text {
  height: 167px;
  resize: vertical;
}

.form-chekcbox {
  display: none;

  &:checked + .form-check-label:before {
    background-color: $color-accent;
  }
}

.form-check-label {
  display: flex;
  font-size: 20px;
  line-height: 27px;

  &:before {
    content: '';
    flex-shrink: 0;
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 11px;
    border: 2px solid $color-accent;
    border-radius: 4px;
  }

  a {
    color: $color-accent;
  }
}
