.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 0 auto;
}

.form-field {
  flex-basis: 100%;
  margin-top: 30px;
  padding: 0 $gap-half;
  // background-color: yellow;
  // border: 1px solid #000;
}

.form-field-half {
  flex-basis: 50%;
}

.form-label {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.form-input {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border-radius: 8px;
  border: none;
}
