.menu {
  @media (max-width: $tablet-max) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid $color-light;
    background-color: $color-dark;
  }

  @media (max-width: $mobile-max) {
    padding: 10px 0;
  }

  ul {
    display: flex;
    list-style: none;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      display: block;
      text-align: center;
    }
  }

  li {
    margin-left: 30px;

    @media (max-width: $mobile-max) {
      margin: 20px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 24px;
    line-height: 33px;
    color: $color-light;
    text-decoration: none;

    @media (max-width: $mobile-max) {
      font-size: 20px;
      line-height: 27px;
    }
  }
}

.some-item {
  &:first-child {
    color: #000;
  }

  &.second-class {
    color: #000;
  }
}
