.reviews {
  padding: 140px 0 130px;
  background-color: rgba($color-light, .2);
}

.reviews-inner {
  @include inner;
}

.reviews-title {
  @include section-title;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: -$gap-half;
  margin-right: -$gap-half;
}

.reviews-item {
  flex-basis: 50%;
  padding: $gap-half;
  margin-top: 40px;
}

.reviews-btn {
  margin-top: 85px;
  text-align: center;
}
