.tabs-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.tabs-item {
  margin: 0 30px;
  list-style: none;
}

.tabs-link {
  color: $color-dark;
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;

  &.active {
    color: $color-accent;
  }
}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}
