// Fonts
$font-ral: 'Raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-dark: #152B3C;
$color-light: #FBF2DA;
$color-accent: #D46240;

// indents
$gap: 30px;
$gap-half: calc($gap / 2);

// breakpoints
